apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: apps
  sources:
  - repoURL: ghcr.io/prometheus-community/charts
    chart: kube-prometheus-stack
    targetRevision: 80.2.0
    helm:
      valueFiles:
      - $values/helm-values.yaml
  - repoURL: https://github.com/Scouterna/j26-infra.git
    targetRevision: HEAD
    path: k8s/app-manifest/monitoring
    ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
    syncOptions:
      - CreateNamespace=true
