grafana:
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt"
    hosts:
      - grafana.j26.se
    path: /
    tls:
      - secretName: grafana-j26-se-tls
        hosts:
          - grafana.j26.se

  persistence:
    enabled: true
    storageClassName: disk-premiumv2
    size: 5Gi

prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: disk-premiumv2
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi

alertmanager:
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: disk-premiumv2
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 2Gi
