grafana:

  admin:
    existingSecret: grafana-admin
    userKey: admin-user
    passwordKey: admin-password

  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt"
    hosts:
      - grafana.j26.se
    path: /
    tls:
      - secretName: grafana-j26-se-tls
        hosts:
          - grafana.j26.se

  persistence:
    enabled: true
    storageClassName: disk-standardssd
    size: 8Gi
  additionalDataSources:
    - name: Loki
      type: loki
      access: proxy
      url: http://loki:3100
      jsonData:
        maxLines: 1000

prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: disk-standardssd
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 32Gi

alertmanager:
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: disk-standardssd
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 4Gi
