apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-root
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: infra

  destination:
    server: https://kubernetes.default.svc
    namespace: argocd

  source:
    repoURL: https://github.com/Scouterna/j26-infra.git
    targetRevision: main
    path: k8s/argocd/infra-apps
    directory:
      recurse: true

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
